*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Nav styles */
#logo{
    font-size: 30px;
    font-weight: 600;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.nav-bar-links{
    display: flex;
    gap: 50px;
}
.nav-bar ul{
   display: flex;
   align-items: center;
   gap: 30px;

}
.nav-bar li{
    list-style: none;

}
.nav-bar a{
    text-decoration: none;
    color: black;
}

.button-style{
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 10px;
    border-width: 1px;
    font-size: 16px;
    font-family: Open Sans, sans-serif;
}

.button-style:hover{
    background-color: black;
    color: white;
}


/* Body styles */
p{
font-family: "Open Sans", sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.7;
color: #524f4f;

}

.container-1{
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 1fr;
    background-color: #e3d7d7;
}

.container-1 img{
    width: 100%;
}
.large-text{
    font-family: Playfair Display, serif;
    font-size: 72px;
    font-weight: 400;

}

.container-text *{
padding: 20px;
}

.container-2{
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px 50px;
    margin-top: 30px;
}

.container-2 img{
    width: 100%;
}

.container-2 button{
    margin-left: 15px;
}

.slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.slogan *{
    padding: 10px;
}
.big-text{
    font-size: 30px;
    font-weight: 500;
}

.container-3{
    text-align: center; 
    margin-top: 50px;
}

.container-3 h1{
    font-size:  50px;
}

.container-3 h2{
    font-family: Playfair Display, serif;
    font-weight: 100;
}


.container-3-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 60px;
    margin-top: 30px;
}

.container-3-services div{
    border: 1px #d2c9c154 solid;
    padding: 30px;
}

.container-3-services img{
    width: 20%;
}

.container-3-services *{
    padding: 10px 0;
}

.container-4{
    text-align: center;
}

.container-4 h1{
    font-size:  50px;
}

.container-4 ul{
    display: flex;
    gap: 50px;
    justify-content: center;
    font-size: 17px;
    font-family: Open Sans, sans-serif;;
}

.container-4 li{
   list-style: none;
}
.container-4 ul a{
    text-decoration: none;
    color: #3e3c3c;
}

.container-4 h1, p, ul{
    padding: 10px;
}

.container-4-collection{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 20px 60px;
}

.container-4-collection img{
   width: 100%;
}

#footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
    padding: 60px;
    background-color: #d1cece24;
}

#footer p{
    padding: 10px 0;
}

#social-logos{
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

#social-logos img{
    width: 10%;
}